<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:ng="http://angularjs.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>Angular Seed</title>
    </head>

    <body id='ng-app' ng-app='app'>

        <div>
            test
        </div>
        <script src="../assets/lib/es5-shim/es5-shim.min.js"></script>
        <script src="../assets/lib/es6-shim/es6-shim.min.js"></script>
        <script src="../assets/lib/angular/angular.min.js"></script>
        <script src="../assets/lib/angular/angular-route.min.js"></script>
        <script src="../assets/lib/angular/angular-touch.min.js"></script>
        <script src="../assets/lib/angular/angular-animate.min.js"></script>

        <script src="../assets/javascripts/application/app.js"></script>

        <!-- Directives -->

        <!-- Controllers -->
        
    </body>
</html>
